body {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;


}

.table{
    max-width: 700px;


}

.table_section{
    background: #E0E0E0;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;


}



.image{
    position: absolute;
    padding:56px 45px ;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background: #C4C4C4;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 35px 96px;
    display: block;

}

.title{

    margin: 0;
    font-weight: 700;
    font-size: 18px;
    padding-top: 140px;
    text-align: center;
    line-height: 22px;
    padding-bottom: 10px;

}

.description{
    text-align: center;
    padding-bottom: 18px;
    padding-top: 10px;
    margin: 0;
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;

}
