*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;

}

.line {
    display: flex;
}

.line_2 {
    display: flex;
}

.title {
    width: 200px;
    height: 226px;
    background: #E0E0E0;
    margin-left: 100px;
    margin-top: 100px;


}


.image{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    display: block;
    background: #C4C4C4;
    width: 130px;
    height: 130px;
    margin-left: 35px;
    padding-top: 56px;
    padding-left: 46px;
    color:#FFFFFF;

}
.header{

    width: 200px;
    height: 22px;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.description{

    position: absolute;
    width: 200px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.header:hover {
    text-decoration: underline;
    color: cornflowerblue;
}


